.suite__whysuite-section {
    display: flex;
}

.suite__whysuite-section-text {
    flex: 1;
    margin: 2rem 2rem;
}

.suite__whysuite-section-text_heading h1 {
    color: white;
    font-weight: bold;
    text-decoration: line-through;
    font-size: 58px;

}

.suite__whysuite-section-text_content p {
    color: #FFEAD6;
    font-size: 22px;
    margin-top: 4rem;
    max-width: 75%;
}

.suite__whysuite-section-image {
    flex: 1;
    margin: 2rem;
    display: flex;
    align-items: center;
}

.suite__whysuite-section-image img {
    width: 100%;
}